{% extends 'base.html' %}

{% block title %}
  <title>New Recipe - Scrumptious</title>
{% endblock title %}

{% block content %}
    <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button-74" role="button">Create</button>
      </div>
    </form>
  </main>
{% endblock content %}

