{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button-74">Create</button>
      </div>
    </form>
  </main>
</body>

</html>
{% endblock content %}
