{% extends 'base.html'%}


{% block content %}
<main>
    <div class="delete-form">
      <form method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete "{{ meal_plans.name }}" Meal Plan?</h3>
        {{ form.as_p }}
        <div>
          <button class="button-74">Delete</button>
        </div>
      </form>
    </div>
  </main>
{% endblock content %}