{% extends 'base.html'%}
{% load markdownify %}

{% block content %}
<main class="tag-detail">
    <div>
      <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>Recipes for {{ meal_plans.name }} on {{ meal_plans.date }} </h2>
    {% for recipe in meal_plans.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}