{% extends 'paginate.html' %}

{% block content %}  
<main class="recipe-grid">
    <h3>
      <a href="{% url 'meal_plans_new' %}">Create</a>
    </h3>
  {% for meal in mealplan_list %}
    <div class="recipe-card">
      <h2 class="recipe-card-title">
        <a href="{% url 'meal_plans_detail' meal.pk %}">{{ meal.name }}</a>
      </h2>
      <p class="recipe-card-date">{{ meal.updated }}</p>
    </div>
  {% empty %}
  <div>
      <h1>No meals planned yet.</h1>
      <p>
          <a href="{% url 'meal_plans_new' %}">Want to add a new one?</a>
      </p>
  </div>
  {% endfor %}
</main>

{% endblock content %}
